<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.novelist.mapper.BookMapper">
	

	<select id="getBookName" parameterType="String" resultType="Book" >
		select * from bookinfo where bookName LIKE CONCAT(CONCAT('%', #{bookName}), '%')
	</select>
	
	<select id="getBookAuthor" parameterType="String" resultType="Book" >
		select * from bookinfo where bookAuthor LIKE CONCAT(CONCAT('%', #{bookAuthor}), '%')
	</select>
	
	<select id="getAllBookInfo" resultType="Book" >
		select * from bookinfo 
	</select>
	
</mapper>
