<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.novelist.mapper.BookMapper">
	

	<select id="getBookName" parameterType="Book" resultType="Book" >
		select * from bookinfo where bookName=#{bookName}
	</select>
	
</mapper>
