<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.novelist.mapper.UserMapper">
	

	<select id="findUserByNP" parameterType="User" resultType="User" >
		select * from userinfo where userName =#{userName} and userPassword=#{userPassword}
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into  userinfo  values(seq_userinfo.nextval,#{userId },#{userName},#{userPassword},#{userSex},#{userEmail},#{userTelphone},#{userAddress})
	</insert>
</mapper>
