<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.novelist.mapper.UserInfoBackMapper">
	<select id="findAllUser" resultType="UserInfoBack">
		select * from userinfo
	</select>
	
	<insert id="addUsers" parameterType="UserInfoBack">
	insert into  userinfo values(seq_userinfo.nextval,#{userName},#{userPassword},#{userSex},#{userEmail},#{userTelphone},#{userAddress},null)
	</insert>
	
</mapper>
