<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<context:component-scan base-package="com.yc.novelist" />
	
	<context:property-placeholder location="classpath:db.properties"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
	<property name="driverClassName" value="${jdbc.driverClassName}" />
	<property name="url" value="${jdbc.url}" />
	<property name="username" value="${jdbc.username}" />
	<property name="password" value="${jdbc.password}" />
	<property name="initialSize" value="${jdbc.initialSize}" />
	<property name="maxTotal" value="${jdbc.maxTotal}" />
	<property name="minIdle" value="${jdbc.minIdle}" />
	</bean>
	
	<!-- 邮件发送处理bean -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.smtp.host}"/>
		<property name="username" value="${mail.smtp.username}"/>
		<property name="password" value="${mail.smtp.password}"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
			</props>
		</property>
	
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/><!-- 数据源 -->
	<property name="typeAliasesPackage" value="com.yc.novelist.eneity"/><!-- 采用别名 的实体类的包 -->
	<property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/><!-- 配置映射文件 --> 
	</bean>
	
	<!-- 配置mybatis的mapper bean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<property name="basePackage" value="com.yc.novelist.mapper"/><!-- 配置映射接口所在包 -->
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/><!-- 映射sqlSessionFactory在spring容器中的bean的ID值 -->
	</bean>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/" />
		<property name="suffix" value=".jsp" />
	</bean>
	 <!-- 默认静态资源的请求处理 -->
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
</beans>                     